<div class="form-page page">
<div class="forms-container container"  >

<div class="form-container col-xs-12 col-sm-offset-3 col-sm-6">

  <form ng-submit="formSubmit()" novalidate>
    <div class="form-group">
      <input type="text" class="form-control" id="user-name" placeholder="{{userName}}" disabled>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="equipement" placeholder="{{equipment}}" disabled>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="serial" placeholder="{{serial}}" disabled>
    </div>
    <div class="form-group">
      <label for="location">Test Location</label>
      <input type="text" class="form-control" id="location" placeholder="Test Location" ng-model="testLocation" required>
    </div>
    <div class="form-group">
      <label for="activity">Activity</label>
      <select ng-model="activity" class="form-control" required>
        <option value="">Select</option>
        <option selected value="Essai">Essai</option>
        <option value="Transport">Transport</option>
        <option value="Installation">Installation</option>
        <option value="Inpection">Inpection</option>
      </select>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
    <textarea class="form-control" rows="3" placeholder="Details" ng-model="details" required></textarea>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  </div>

  </div>

</div>
