.tracking-page {

  .change-style {
    position: absolute;
    top: 52px;
    left: 0px;
    border: none;
    background-color: #EEE;
    border-radius: 5px;
  }

  .button-modal-container {
    margin-top: 10px;
    text-align: center;
    button {
      font-size: 14px;
      padding: 10px 16px 8px;
    }
  }

  .forms-container {
    .form-container {
      form {
        &.ng-submitted {
          .ng-invalid {
            border-color: #FF0000;
            border-width: 2px;
          }
        }
        p {
          color: #888;
          margin: 5px 0px;
          font-size: 12px;
          word-break: break-word;
          &.username {
            margin-top: 0px;
          }
          &.serial {
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $lightGreyColor;
          }
        }
        button {
          margin: 0 auto;
          width: 50%;
          display: block;
        }
      }
    }
  }
}