<div class="search-page page container">

<h3>Search by Equipment</h3>
<form class="equipment-form form-inline" name="equipmentForm" novalidate ng-submit="searchEquipement(equipmentForm)">
  <div class="form-group">
    <input type="text" class="form-control" id="equipement" placeholder="Equipment" ng-model="equipment" required>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<section class="serial-list fadeIn-effect" ng-show="hasEquipment">
<h3>List of serials for equipment {{equipment}}</h3>
<h6>Click on a serial to go to the tracking page</h6>
<label class="filter-form">Search: <input ng-model="searchText" placeholder="Filter"></label>
  <ul>
    <li class="serial" ng-repeat="serial in serials | orderBy: '-serial' | filter:searchText">
      <a href="#/tracking?equipment={{equipment}}&serial={{serial}}">{{serial}}</a>
    </li>
  </ul>
</section>

<p class="no-equipment" ng-show="noEquipment">No such equipment</p>
</div>
